* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  background: url('../assets/grass.png');
  margin: 0;
  position: relative;
  height: 100%;
}

[aria-hidden="true"] {
  display: none;
}

@media screen and (max-width: 513px) {
  /* Lower base font-size to shrink pages dynamic dimensions */
  html {
    font-size: 12px;
  }
}
