.Gameboard {
  background-color: green;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.HoleContainer {
  height: 6rem;
  vertical-align: center;
}

.Hole {
  height: 4rem;
  width: 8rem;
  border-radius: 50%;
  background-color: black;
  overflow-y: hidden;
}

.ButtonGroup {
  margin-top: 2rem;
}
