.Header {
  text-align: center;
}

.Main {
  text-align: center;
  padding: 3rem 5rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 790px) {
  .Main {
    padding: 2rem;
  }
}
